.s-forgotten-password-form {
  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    .alert {
      width: 100%;
      padding: 5px;
      border-radius: unset;
      margin-top: 5px;
    }
    &:first-child {
      flex-direction: column;
      margin-bottom: 30px;
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $border;
    font-size: 20px;
    padding: 5px 0;
    &:focus {
        outline: none;
        border-bottom: 2px solid $colorPrimary;
    }
  }
  button {
    background-color: $colorPrimary;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    @include media-breakpoint-down(sm) {
      font-size: 13px;
      width: 100%;
    }
    &:hover {
        transform: translateY(-2px);
        filter: brightness(80%);
    }
    &.close {
      background-color: red;
    }
  }
}